<html>
    <body>
    <title>gall api sandbox</title>
    <h1>gall api sandbox</h1>
    <hr>
    <table width=800>
        <tr>
            <td align=left valign=top>

                <h2>ambassador</h2>
                <ul>
                    <li><a href='/api/sandbox/ambassador/create'>create</a>
                </ul>

                <h2>activation</h2>
                <ul>
                    <li><a href='/api/sandbox/activation/create'>create</a>
                    <li><a href='/api/sandbox/activation/get-by-code'>get by code</a>
                    <li><form method='POST' action='/api/activation/test-mail'><input type='submit' name='test mail'></form>

                </ul>

                <h2>coupon</h2>
                <ul>
                    <li><a href='/api/sandbox/coupon/create'>create</a>
                    <li><a href='/api/sandbox/coupon/get-unsent'>get unsent</a>
                </ul>

            </td>
        </tr>
    </table>
    </body>
</html>