
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/favicon.ico">

    {% load gravatar %}

    <title>Ambassador Enrollment</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Give a Little Love</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/ambassador">Ambassador</a></li>
                <li><a href="/received-a-card">Received Card</a></li>

<!--
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Our Sites <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
-->
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

<br/>
<br/>
<br/>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Fantastic! <span class="text-muted">Time to pay it forward and start spreading some Happiness, Laughter, and Love of your own!</span></h2>
          {% if last_activation %}
          <p class="lead"><b>{{last_activation.name}}</b>, the person who gave you this card, is going to be so thrilled! As a thank you for paying it forward we just sent him a free gift. You'll be sent a free gift too when you keep the connection going.</p>
        {% else %}
        <p class="lead">You're the first to redeem this card! Now make your Happiness, Laughter, and Love Ambassador, <b>{{ambassador.name}}</b>, proud my spreading the love!'</p>
        {% endif %}
        </div>
      </div>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">You are connected to the following people...</h2>
          <p class="lead" align="center">
            {% gravatar ambassador.email 150 %}
            <br/>
            <b>{{ambassador.name}}</b><br/>Your Happiness, Laughter, and Love Ambassador
            <br/><br/>
            {% for activation in activations %}
            {% gravatar activation.email 150 %}<br/>
                <b>{{activation.name}}</b><br/>{{activation.created}}<br/><br/>
            {% endfor %}

          </p>
        </div>
      </div>


    <br/>
    <br/>

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 <a href="http://americangreetings.com">American Greetings</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
