<body bgcolor=black>
    <font color="white">
<center>
<table>
    <tr>
        <td>
            <img src='/static/images/helmets/team{{team1.id}}.png'>
            <br/>
                <font color="white">High Seed</font>
        </td>
        <td>    <font color="white">VS</font></td>
        <td>
            <img src='/static/images/helmets/team{{team2.id}}.png'>
            <br/>
                <font color="white">Low Seed</font>
        </td>
    </tr>
</table>
<br/>
<br/>
<form action='/tecmo/vs' method='get'>
<input type='submit' text='Create Matchup!' value='Create Matchup!'>
</form>
</center>
</font>
</body>